/src/mpags-cipher.cpp

#VS code 
/.vscode
/src/.vscode


# Lines beginning with a '#' are comments
# Text Editor Temp Files
*~
*.swp

# Mac Filesystem
.DS_Store?
/src/mpags-cipher.dSYM/Contents

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
